
@media (max-width: 1200px) {
  .header-area .main-nav .nav li {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header-area .main-nav:before {
    display: none;
  }
}

@media (max-width: 992px) {
  .header-area {
    top: 0;
  }
  .header-area .main-nav {
    background-color: transparent;
    border-radius: 0px;
  }
  .header-area .main-nav .nav {
    height: auto;
    flex-basis: 100%;
  }
  .header-area .main-nav{
    position: absolute;
    left: 30px;
    top: 15px;
  }
  .background-header .main-nav{
    top: 0px;
  }
  .background-header .main-nav  {
    top: 0px !important;
  }
  .header-area .main-nav {
    position: absolute;
    top: 15px;
    right: 70px;
  }
  .header-area.header-sticky .nav li a:hover,
  .header-area.header-sticky .nav li a.active {
    color: #22b3c1!important;
    opacity: 1;
  }
  .header-area.header-sticky .nav li.search-icon a {
    width: 100%;
  }
  .header-area {
    background-color: #22b3c1;
    padding: 0px 15px;
    height: 100px;
    box-shadow: none;
    text-align: center;
    margin-left: 0px;
  }
  .header-area .menu-trigger {
    display: block !important;
  }
  .header-area .main-nav {
    overflow: hidden;
  }
  .header-area .main-nav .nav {
    float: none;
    width: 100%;
    display: none;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    margin-left: 0px;
  }
  .header-area.header-sticky .nav {
    margin-top: 85px !important;
  }
  .background-header.header-sticky .nav {
    margin-top: 70px !important;
  }
  .header-area .main-nav .nav li:first-child {
    border-top: 1px solid #eee;
  }
  .header-area .main-nav .nav li {
    width: 100%;
    background: #f7f7f7;
    border-bottom: 1px solid #eee;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .header-area .main-nav .nav li a {
    height: 50px !important;
    line-height: 50px !important;
    padding: 0px !important;
    border: none !important;
    background: #f7f7f7 !important;
    color: #1e1e1e !important;
  }
  .header-area .main-nav .nav li a:hover {
    background: #f7f7f7 !important;
    color: #22b3c1!important;
  }
  .header-area .main-nav .nav li.has-sub ul.sub-menu {
    position: relative;
    visibility: inherit;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    top: 0px;
    width: 100%;
    box-shadow: none;
    height: 0px;
    transition: all 0s;
  }
  .header-area .main-nav .nav li.submenu ul li a {
    font-size: 12px;
    font-weight: 400;
  }
  .header-area .main-nav .nav li.submenu ul li a:hover:before {
    width: 0px;
  }
  .header-area .main-nav .nav li.has-sub ul.sub-menu {
    height: auto;
  }
  .header-area .main-nav .nav li.has-sub:after {
    color: #3B566E;
    right: 30px;
    font-size: 14px;
    top: 15px;
  }
  .header-area .main-nav .nav li.submenu:hover ul, .header-area .main-nav .nav li.submenu:focus ul {
    height: 0px;
  }
}


/* 
---------------------------------------------
Albums Page Style
--------------------------------------------- 
*/

*body{
  background-color: var(--bg);
}

.album-main-content {
    margin-top: 70px;
    background-image: url(../images/beatles-apple-corp.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 130px 0px 200px 0px;
  }
  
  .blur-bg {
    width: 100%;
    height: 100%;
    background: url(../images/beatles-apple-corp.webp) no-repeat center center fixed;
    background-size: cover;
    filter: blur(8px) brightness(80%);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }
  
  .album-main-content .content {
    border-radius: 23px;
    text-align: center;
    padding: 120px 60px;
    position: relative;
    overflow: hidden;
    z-index: 2;
  }
  
  .album-main-content .content h2 {
    color: #fff;
    position: relative;
    z-index: 2;
    font-size: 50px;
    margin-bottom: 25px;
  }
  
  .album-content-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 70px;
  }
  
  .album-content-container-lg{
    width: 400px;
  }
  
  .album-content-container-lg{
    padding-left: 20px;
    margin-top: 26px;
    margin-left: 26px;
    margin-bottom: 50px;

  }
  
  .text{
    text-align: center;
    margin-bottom: 12px;
  }
  .text-sgt{
    text-align: center;
    margin-bottom: 12px;
    margin-top: -23px;
    width: 350px;
  }

  

  .pre-title{
    font-style: normal;
    font-weight: 400;
    font-family: futura-pt,sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: var(--mark-color);
    text-transform: uppercase;
    margin-bottom: 10px;
  
  }
  
  .title{
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
    color: var(--color-text);
  }
  .name-link{
    color: var(--color-text)
  }
  
  .title:hover{
    color: rgb(80, 185, 199);
    text-decoration: underline;
  }
  
  .name-link:hover{
    color: rgb(80, 185, 199);
    cursor: pointer;
  
  }

  .image-link{
    border: black solid;
    width:350px
  }
  

  