
/* 
---------------------------------------------
Curiosidades Page Style
--------------------------------------------- 
*/

.page-heading {
    background-image: url(../images/john-lennon-the-beatles.gif);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 260px 0px 190px 0px;
    text-align: center;
  
  }
  
  .page-heading h2 {
    font-size: 50px;
    font-weight: 700;
    margin: 00px 150px 0px 150px;
    color: #fff;
    margin-bottom: 30px;
    line-height: 50px;
  }
  
  .MsoNormal{
    margin: 30px 70px 0px 250px;
    font-family: Garamond, serif;
    font-size: 30px;
    text-align: justify;
    color: var(--color-text);
  
  }
  
  .separator{
    margin-bottom: 70px;
  }
  
  .text-mark{
    color: #4EA8A8;
  }
  .curiosity-content{
    margin-bottom: 200px;
  }
  
  .curiosity-content-span-list-paragraph{
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: 70px;
    margin-inline-end: 70px;
    display: block;
    color: var(--color-text);
    font-size: 18px;
  }
  
  .curiosity-content-img-01{
    border: 0;
    height: auto;
    max-width: 100%;
    margin: 0px 50px 0px 40px;
    width: auto;
    vertical-align: middle;  
    overflow-clip-margin: content-box;
    overflow: clip;
    float: right;
  }

  .curiosity-content-img-02{
    max-width: 700px;
    padding: 0px 50px 0px 40px;
    width: 70%;
    overflow-clip-margin: content-box;
    overflow: clip;
    float: right;
  }
  .curiosity-content-img-03{
    max-width: 300px;
    padding: 0px 50px 0px 70px;
    width: 70%;
    overflow-clip-margin: content-box;
    overflow: clip;
    float: right;
  }
  .curiosity-content-img-04{
    max-width: 800px;
    margin: 0px 50px 0px 250px;
    width: 100%;
    float: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .curiosity-content-img-05{
    max-width: 350px;
    padding: 0px 50px 0px 70px;
    width: 70%;
    overflow-clip-margin: content-box;
    overflow: clip;
    float: left;
  }
  .curiosity-content-img-06{
    max-width: 500px;
    padding: 0px 50px 0px 70px;
    width: 70%;
    overflow-clip-margin: content-box;
    overflow: clip;
    float: left;
  }

  .curiosity-content-img-07{
    max-width: 300px;
    padding: 0px 50px 0px 40px;
    width: 70%;
    overflow-clip-margin: content-box;
    overflow: clip;
    float: right;
  }

  .curiosity-content-img-08{
    max-width: 1200px;
    padding: 0px 50px 0px 40px;
    margin: 0px 50px 0px 200px;
    width: 70%;
    overflow-clip-margin: content-box;
    overflow: clip;
  }

  .curiosity-content-img-09{
    border: 0;
    height: auto;
    max-width: 100%;
    margin: 0px 50px 0px 40px;
    width: auto;
    vertical-align: middle;  
    overflow-clip-margin: content-box;
    overflow: clip;
    float: right;
  }