
/* 
---------------------------------------------
Footer Style
--------------------------------------------- 
*/

footer {
    background-color: #22b3c1;
    text-align: center;
    margin-top: auto; /* Isso empurra o footer para o final */
  }
  
  footer p {
    color: #fff;
  }
  
  footer p a {
    color: #fff;
    font-weight: 500;
    transition: all .3s;
  }
  
  footer p a:hover {
    color: #fff;
    opacity: 0.75;
  }
