/* Geral */
body {
  overflow-x: hidden;
}

/* Telas muito pequenas (até 320px) */
@media (max-width: 320px) {
  .header-area,
  .CookieMessage,
  #section-1 {
    padding: 5px;
  }

  .header-area .main-nav .nav li {
    padding: 5px;
  }
}

/* Telas pequenas (320px até 576px) */
@media (max-width: 576px) {
  .CookieMessage {
    padding: 10px;
    font-size: 10px;
  }

  #section-1 {
    padding: 10px;
  }

  .header-area {
    padding: 10px;
  }

  .header-area .main-nav .nav {
    flex-direction: column;
  }

  .header-area .main-nav .nav li {
    padding: 10px 0;
    text-align: center;
  }
}

/* Telas médias (576px até 768px) */
@media (max-width: 768px) {
  #section-1 .more-info {
    padding: 20px;
    margin-top: 20px;
    border-radius: 15px;
  }

  .header-area .main-nav .nav {
    flex-direction: column;
    width: 100%;
  }
}

/* Telas grandes (768px até 992px) */
@media (max-width: 992px) {
  #section-1 .content-slider .slider .banner .banner-inner-wrapper {
    padding-top: 60px;
  }

  .header-area .main-nav .nav li {
    padding: 10px;
  }
}

/* Telas muito grandes (992px até 1200px) */
@media (max-width: 1200px) {
  #section-1 .more-info h4 span {
    font-size: 12px;
  }

  #section-1 .more-info h4 {
    font-size: 15px;
  }
}

/* Telas gigantes (acima de 1200px) */
@media (min-width: 1200px) {
  .header-area {
    padding: 20px 30px;
  }

  .header-area .main-nav .nav li {
    padding: 0 20px;
  }

  #section-1 {
    padding: 40px;
  }
}
