/* Estilos Gerais */
.header-area {
  background-color: #22b3c1;
  padding: 15px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav .nav {
  display: flex;
  list-style: none;
}

.main-nav .nav li {
  margin-left: 20px;
}

/* Menu Responsivo */
.menu-trigger {
  display: none;
  cursor: pointer;
}

/* Transição das Imagens */
.slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: opacity 0.5s ease;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + .banner {
  opacity: 1;
}

/* Media Queries */
@media (max-width: 992px) {
  .main-nav .nav {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .menu-trigger {
    display: block;
  }

  .main-nav.active .nav {
    display: flex;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 24px;
  }
}
