/* 
---------------------------------------------
Cookie Style
--------------------------------------------- 
*/

.CookieMessage {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #121212;
  z-index: 999;
  display: none;
}

.CookieMessage-content {
  color: var(--color-text);
  max-width: 900px;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
  font-family: sans-serif;
  line-height: 1.5;
  font-size: 12px;

}

.CookieMessage-content a{
  color: var(--color-text);
}

.CookieMessage-content p{
  margin: 0 0 20px 0;
}

.CookieMessage-button {
  background: #00C2FF;
  display: inline-block;
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 5px;
  text-transform: uppercase;

}

.CookieMessage-button:hover{
  background: #5cd9ff;
}


.main-nav {
    height: 100vh; /* 100% da altura da tela */
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav li {
    margin: 10px 0;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.menu-trigger {
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
    margin-top: auto;
}

.menu-trigger span {
    display: block;
    text-align: center;
}

@media (min-width: 600px) {
    .main-nav {
        height: auto; /* Ajustar a altura para maior do que 600px */
    }
    
    .nav {
        flex-direction: row;
    }
    
    .nav li {
        margin: 0 20px;
    }
    
    .menu-trigger {
        display: none; /* Esconder o menu-trigger em telas maiores */
    }
}

/* 
---------------------------------------------
Banner Style
--------------------------------------------- 
*/

#section-1 {
  margin-top: 30px;
  height: 100vh;
  color: #fff;
  background-color: #222;
  position: relative;
}
#section-1 .content-slider {
  position: relative;
  width: 100%;
  height: 100%;
}
#section-1 .content-slider input {
  display: none;
}
#section-1 .content-slider .slider {
  position: relative;
  width: inherit;
  height: inherit;
  overflow: hidden;
}
#section-1 .content-slider .slider .banner {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 0;
  width: inherit;
  height: inherit;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: all 0.5s ease;
}


#section-1 .main-button {
  margin-top: 8px;
  text-align: right;
}
#section-1 .main-button a:hover {
  background-color: #22b3c1;
  border-color: #22b3c1;
  color: #fff;
  opacity: 0.8;
}
#section-1 .content-slider .slider .banner .banner-inner-wrapper {
  height: 100%;
  box-sizing: border-box;
}
#section-1 .content-slider .slider .banner .banner-inner-wrapper .main-caption {
  position: absolute;
  width: 100%;
  top: 60%;
  transform: translateY(-50%);
}
#section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
}
#section-1 .content-slider .slider .banner .banner-inner-wrapper h1 {
  font-size: 50px;
  font-family: cursive;
  color: #fff;
  font-weight: 700px;
  margin-bottom: 10px;
	-webkit-text-stroke: 1px #F8F8F8;
	text-shadow: 0px 3px 4px black;
}
#section-1 .content-slider .slider .banner .banner-inner-wrapper .learn-more-button a:hover {
  color: #22b3c1;
  border-color: #22b3c1;
  transition: 0.3s;
}
#section-1 .content-slider .slider #top-banner-1 {
  background: url('../images/John-Lennon2.jpg') no-repeat center center;
  background-size: cover;
  height: 100%;

}
#section-1 .content-slider .slider #top-banner-2 {
  background: url('../images/Paul_macca.jpg') no-repeat bottom center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
#section-1 .content-slider .slider #top-banner-3 {
  background: url('../images/GeorgeH.png') no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
#section-1 .content-slider .slider #top-banner-4 {
  background: url('../images/ringostarr.jpg') no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}


#section-1 .content-slider nav {
  position: absolute;
  bottom: 30px;
  width: 100%;
  z-index: 10;
  text-align: center;
}
#section-1 .content-slider nav .controls {
  display: block;
  width: 70%;
  margin: 0 auto;
  font-family: Montserrat, sans-serif;
  color: #fff;
}
#section-1 .content-slider nav .controls label {
  position: relative;
  display: inline-block;
  width: 19.5%;
  height: 3.1em;
  overflow: hidden;
  margin: 0 1em;
  padding-top: 1em;
  text-align: left;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-size: 1em;
  color: #f6eac5;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s;
}
#section-1 .content-slider nav .controls label .progressbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #f6eac5;
  z-index: 100;
}
#section-1 .content-slider nav .controls label .progressbar .progressbar-fill {
  position: inherit;
  width: inherit;
  height: inherit;
  margin-left: -100%;
  background: #22b3c1;
}
#section-1 .content-slider nav .controls label span.text {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  width: 100%;
}
#section-1 .content-slider nav .controls label:hover {
  color: #22b3c1;
}
#section-1 .content-slider #banner1:checked ~ .slider #top-banner-1,
#section-1 .content-slider #banner2:checked ~ .slider #top-banner-2,
#section-1 .content-slider #banner3:checked ~ .slider #top-banner-3,
#section-1 .content-slider #banner4:checked ~ .slider #top-banner-4 {
  opacity: 1;
  z-index: 1;
}
#section-1 .content-slider #banner1:checked ~ nav label:nth-of-type(1),
#section-1 .content-slider #banner2:checked ~ nav label:nth-of-type(2),
#section-1 .content-slider #banner3:checked ~ nav label:nth-of-type(3),
#section-1 .content-slider #banner4:checked ~ nav label:nth-of-type(4) {
  cursor: default;
  color: #fff;
  transition: all 0.5s;
}
#section-1 .content-slider #banner1:checked ~ nav label:nth-of-type(1) .progressbar,
#section-1 .content-slider #banner2:checked ~ nav label:nth-of-type(2) .progressbar,
#section-1 .content-slider #banner3:checked ~ nav label:nth-of-type(3) .progressbar,
#section-1 .content-slider #banner4:checked ~ nav label:nth-of-type(4) .progressbar {
  background: #fff;
}
#section-1 .content-slider #banner1:checked ~ nav label:nth-of-type(1) .progressbar-fill,
#section-1 .content-slider #banner2:checked ~ nav label:nth-of-type(2) .progressbar-fill,
#section-1 .content-slider #banner3:checked ~ nav label:nth-of-type(3) .progressbar-fill,
#section-1 .content-slider #banner4:checked ~ nav label:nth-of-type(4) .progressbar-fill {
  animation: progressBarFill 5s linear;
}
/* Animations */
@keyframes progressBarFill {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0;
  }
}

/* 
---------------------------------------------
Responsive Style
--------------------------------------------- 
*/

body {
  overflow-x: hidden;
}

@media (max-width: 575px) {

}

@media (max-width: 767px) {
  #section-1 .content-slider .slider .banner .banner-inner-wrapper {
    padding-top: 120px;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {
    font-size: 15px;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper h1 {
    font-size: 36px;
  }
  #section-1 .more-info {
    padding: 30px;
    margin-top: 30px !important;
    border-radius: 23px;
    bottom: 110px;
    width: 95%;
    left: 2.5%;
  }
  #section-1 .more-info i {
    width: 36px;
    height: 36px;
    line-height: 34px;
    font-size: 18px;
    margin-right: 10px;
    margin-top: 8px;
  }
  .visit-country .right-content .main-button a {
    font-size: 14px;
    padding: 12px 15px;
  }
  .main-button a {
    text-align: center;
  }
  #section-1 .more-info h4 {
    font-size: 14px !important;
  }
  #section-1 .content-slider nav .controls label { 
    width: 7% !important;
  }
  .visit-country .right-content ul li {
    width: 30%;
  }
  .visit-country .right-content h4 {
    margin-top: 20px;
  }
}

@media (max-width: 992px) {
  #section-1 .more-info {
    margin-top: 60px;
  }
  #section-1 .more-info h4 span {
    font-size: 15px;
  }
  #section-1 .more-info h4 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  #section-1 .main-button {
    text-align: left;
  }
  #section-1 .content-slider nav .controls label {
    width: 15%;
  }
  .visit-country .right-content ul li {
    width: 30% !important;
  }
  .visit-country .right-content {
    position: relative;
  }
  
  .visit-country .side-bar-map {
    margin-left: 0px;
    margin-top: 60px;
  }
  h2,
  h4 {
    text-align: center;
  }

  .album-main-content .content p {
    padding: 0px 5%;
  }
  .container-fluid {
    padding: 0px;
  }
  .left-image {
    margin-right: 0px;
    margin-bottom: 60px;
  }
  .search-form #search-form h4 {
    margin-bottom: 15px;
  }
  .search-form #search-form select {
    margin-bottom: 30px;
  }
  .amazing-deals .image {
    border-top-right-radius: 23px;
    border-bottom-left-radius: 0px;
  }
  .amazing-deals {
    padding-right: 0px;
  }
  .amazing-deals .content {
    padding: 30px !important;
  }
  .more-info {
    margin-bottom: 30px;
  }
  .reservation-form #reservation-form {
    padding: 45px 30px;
  }
}

@media (max-width: 1200px) {
  #section-1 .more-info h4 span {
    font-size: 12px;
  }
  #section-1 .more-info h4 {
    font-size: 15px;
  }
  .container-fluid {
    padding: 0px;
  }
}
