

@media (max-width: 1200px) {
  .header-area .main-nav .nav li {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header-area .main-nav:before {
    display: none;
  }
}

@media (max-width: 992px) {
  .header-area {
    top: 0;
  }
  .header-area .main-nav {
    background-color: transparent;
    border-radius: 0px;
  }
  .header-area .main-nav .nav {
    height: auto;
    flex-basis: 100%;
  }
  .header-area .main-nav{
    position: absolute;
    left: 30px;
    top: 15px;
  }
  .background-header .main-nav{
    top: 0px;
  }
  .background-header .main-nav  {
    top: 0px !important;
  }
  .header-area .main-nav {
    position: absolute;
    top: 15px;
    right: 70px;
  }
  .header-area.header-sticky .nav li a:hover,
  .header-area.header-sticky .nav li a.active {
    color: #22b3c1!important;
    opacity: 1;
  }
  .header-area.header-sticky .nav li.search-icon a {
    width: 100%;
  }
  .header-area {
    background-color: #22b3c1;
    padding: 0px 15px;
    height: 100px;
    box-shadow: none;
    text-align: center;
    margin-left: 0px;
  }
  .header-area .menu-trigger {
    display: block !important;
  }
  .header-area .main-nav {
    overflow: hidden;
  }
  .header-area .main-nav .nav {
    float: none;
    width: 100%;
    display: none;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    margin-left: 0px;
  }
  .header-area.header-sticky .nav {
    margin-top: 85px !important;
  }
  .background-header.header-sticky .nav {
    margin-top: 70px !important;
  }
  .header-area .main-nav .nav li:first-child {
    border-top: 1px solid #eee;
  }
  .header-area .main-nav .nav li {
    width: 100%;
    background: #f7f7f7;
    border-bottom: 1px solid #eee;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .header-area .main-nav .nav li a {
    height: 50px !important;
    line-height: 50px !important;
    padding: 0px !important;
    border: none !important;
    background: #f7f7f7 !important;
    color: #1e1e1e !important;
  }
  .header-area .main-nav .nav li a:hover {
    background: #f7f7f7 !important;
    color: #22b3c1!important;
  }
  .header-area .main-nav .nav li.has-sub ul.sub-menu {
    position: relative;
    visibility: inherit;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    top: 0px;
    width: 100%;
    box-shadow: none;
    height: 0px;
    transition: all 0s;
  }
  .header-area .main-nav .nav li.submenu ul li a {
    font-size: 12px;
    font-weight: 400;
  }
  .header-area .main-nav .nav li.submenu ul li a:hover:before {
    width: 0px;
  }
  .header-area .main-nav .nav li.has-sub ul.sub-menu {
    height: auto;
  }
  .header-area .main-nav .nav li.has-sub:after {
    color: #3B566E;
    right: 30px;
    font-size: 14px;
    top: 15px;
  }
  .header-area .main-nav .nav li.submenu:hover ul, .header-area .main-nav .nav li.submenu:focus ul {
    height: 0px;
  }
}


/* Animations */
@keyframes progressBarFill {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0;
  }
}



/* 
---------------------------------------------
Fab Four Page Style
--------------------------------------------- 
*/

.second-page-heading {
    background-image: url(../images/giphy.gif);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 260px 0px 190px 0px;
    text-align: center;
  }
  
  .second-page-heading h2 {
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    margin-top: 30px;
  }
  .fab-four-info-opening-text{
    color:var(--color-text);
    font-size: 18px;
    margin: 70px 250px 0px 40px;
  }
  
  .fab-four-info-bio{
    display: block;
    margin: 0px 40px 100px 40px;
    text-align: center;
  }
  
  .john-title{
    color:var(--color-text);
    font-size: 36px;
    margin-top: 70px;
    padding: 0px 0px 0px 32px;
  }
  
  .john-first-text{
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: 70px;
    margin-inline-end: 70px;
    display: block;
    color: var(--color-text);
    font-size: 17px;
  }
  
  .john-image{
    position: relative;
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
    max-width: 700px;
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  
  .john-last-image{
    position: relative;
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
    max-width: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  
  .john-second-text{
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: 70px;
    margin-inline-end: 70px;
    display: block;
    color: var(--color-text);
    font-size: 17px;
  }
  
  .paul-title{
    color:var(--color-text);
    font-size: 36px;
    margin-top: 70px;
    padding: 0px 0px 0px 32px;
  }
  
  .paul-first-text{
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: 70px;
    margin-inline-end: 70px;
    display: block;
    color: var(--color-text);
    font-size: 17px;
  }
  
  .paul-image{
    position: relative;
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
    max-width: 700px;
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  
  .paul-last-image{
    position: relative;
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
    max-width: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  
  .paul-second-text{
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: 70px;
    margin-inline-end: 70px;
    display: block;
    color: var(--color-text);
    font-size: 17px;
  }
  
  .george-title{
    color:var(--color-text);
    font-size: 36px;
    margin-top: 70px;
    padding: 0px 0px 0px 32px;
  }
  
  .george-first-text{
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: 70px;
    margin-inline-end: 70px;
    display: block;
    color: var(--color-text);
    font-size: 17px;
  }
  
  .george-image{
    position: relative;
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
    max-width: 700px;
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  
  .george-last-image{
    position: relative;
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
    max-width: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  
  .george-second-text{
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: 70px;
    margin-inline-end: 70px;
    display: block;
    color: var(--color-text);
    font-size: 17px;
  }
  
  .ringo-title{
    color:var(--color-text);
    font-size: 36px;
    margin-top: 70px;
    padding: 0px 0px 0px 32px;
  }
  
  .ringo-first-text{
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: 70px;
    margin-inline-end: 70px;
    display: block;
    color: var(--color-text);
    font-size: 17px;
    margin-bottom: 38px;
  }
  
  .ringo-image{
    position: relative;
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
    max-width: 700px;
    width: 60%;
    margin: auto;
    margin-top: 32px;
    display: flex;
    justify-content: center;
  }
  
  .ringo-last-image{
    position: relative;
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
    max-width: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  
  .ringo-second-text{
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: 70px;
    margin-inline-end: 70px;
    display: block;
    color: var(--color-text);
    font-size: 17px;
  }
  
