/* 
---------------------------------------------
font & reset css
--------------------------------------------- 
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");
/* 
---------------------------------------------
reset
--------------------------------------------- 
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}


html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header, nav, section, article, aside, footer, hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: #fff;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
	color: #22b3c1;
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #2a2a2a;
  font-weight: 700;
}

ul {
  margin-bottom: 0px;
}

p {
  font-size: 15px;
  line-height: 30px;
  color: #afafaf;
}

img {
  width: 100%;
  overflow: hidden;
}

/* 
---------------------------------------------
Global Styles
--------------------------------------------- 
*/
html,
body {
  background: #fff;
  font-family: 'Poppins', sans-serif;
}

::selection {
  background: #22b3c1;
  color: #fff;
}

::-moz-selection {
  background: #22b3c1;
  color: #fff;
}

.fab_button{
  font-size: 14px;
  color: #22b3c1;
  background-color: transparent;
  border: 1px solid #22b3c1;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}

.fab_button:hover{
  background-color: #22b3c1;
  color: rgb(235, 224, 224);
  
}


section {
  margin-top: 120px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 20px;
  line-height: 36px;
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
  color: #2a2a2a;
}

/* 
---------------------------------------------
Header Style
--------------------------------------------- 
*/

.background-header {
  background-color: #22b3c1 !important;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15)!important;
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.header-area {
  background-color: #22b3c1;
  position: absolute;
  height: 70px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

}

.header-area .main-nav {
  background: transparent;
  display: flex;
  padding: 0px 30px;
}

.header-area .main-nav{
  flex-basis: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
}

.header-area .main-nav .nav {
  flex-basis: 80%;
  justify-content: center;
  vertical-align: middle;
  margin-top: 15px;
  margin-left: 260px;
}

.header-area .main-nav .nav li a {
  display: block;
  line-height: 20px;
  float: left;
  font-size: 15px;
  color: #fff;
  border: transparent;
  padding: 8px 15px;
  border-radius: 18px;
  letter-spacing: 0.5px;
}

.logo{
  width: 130px;
  position:absolute;
  margin-top: -28px;
}


@media (max-width: 1200px) {
  .header-area .main-nav .nav li {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header-area .main-nav:before {
    display: none;
  }
}

@media (max-width: 992px) {
  .header-area {
    top: 0;
  }
  .header-area .main-nav {
    background-color: transparent;
    border-radius: 0px;
  }
  .header-area .main-nav .nav {
    height: auto;
    flex-basis: 100%;
  }
  .header-area .main-nav{
    position: absolute;
    left: 30px;
    top: 15px;
  }
  .background-header .main-nav{
    top: 0px;
  }
  .background-header .main-nav  {
    top: 0px !important;
  }
  .header-area .main-nav {
    position: absolute;
    top: 15px;
    right: 70px;
  }
  .header-area.header-sticky .nav li a:hover,
  .header-area.header-sticky .nav li a.active {
    color: #22b3c1!important;
    opacity: 1;
  }
  .header-area.header-sticky .nav li.search-icon a {
    width: 100%;
  }
  .header-area {
    background-color: #22b3c1;
    padding: 0px 15px;
    height: 100px;
    box-shadow: none;
    text-align: center;
  }

  

  .header-area{
    margin-left: 0px;
  }
  .header-area .menu-trigger {
    display: block !important;
  }
  .header-area .main-nav {
    overflow: hidden;
  }
  .header-area .main-nav .nav {
    float: none;
    width: 100%;
    display: none;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    margin-left: 0px;
  }
  .header-area.header-sticky .nav {
    margin-top: 85px !important;
  }
  .background-header.header-sticky .nav {
    margin-top: 70px !important;
  }
  .header-area .main-nav .nav li:first-child {
    border-top: 1px solid #eee;
  }
  .header-area .main-nav .nav li {
    width: 100%;
    background: #f7f7f7;
    border-bottom: 1px solid #eee;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .header-area .main-nav .nav li a {
    height: 50px !important;
    line-height: 50px !important;
    padding: 0px !important;
    border: none !important;
    background: #f7f7f7 !important;
    color: #1e1e1e !important;
  }
  .header-area .main-nav .nav li a:hover {
    background: #f7f7f7 !important;
    color: #22b3c1!important;
  }
  .header-area .main-nav .nav li.has-sub ul.sub-menu {
    position: relative;
    visibility: inherit;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    top: 0px;
    width: 100%;
    box-shadow: none;
    height: 0px;
    transition: all 0s;
  }
  .header-area .main-nav .nav li.submenu ul li a {
    font-size: 12px;
    font-weight: 400;
  }
  .header-area .main-nav .nav li.submenu ul li a:hover:before {
    width: 0px;
  }
  .header-area .main-nav .nav li.has-sub ul.sub-menu {
    height: auto;
  }
  .header-area .main-nav .nav li.has-sub:after {
    color: #3B566E;
    right: 30px;
    font-size: 14px;
    top: 15px;
  }
  .header-area .main-nav .nav li.submenu:hover ul, .header-area .main-nav .nav li.submenu:focus ul {
    height: 0px;
  }
}

/* 
---------------------------------------------
Banner Style
--------------------------------------------- 
*/

#section-1 {
  margin-top: 70px;
  height: 100vh;
  min-height: 500px;
  color: #fff;
  background-color: #222;
  position: relative;
}
#section-1 .content-slider {
  position: relative;
  width: 100%;
  height: 100%;
}
#section-1 .content-slider input {
  display: none;
}
#section-1 .content-slider .slider {
  position: relative;
  width: inherit;
  height: inherit;
  overflow: hidden;
}
#section-1 .content-slider .slider .banner {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 0;
  width: inherit;
  height: inherit;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: all 0.5s ease;
}


#section-1 .main-button {
  margin-top: 8px;
  text-align: right;
}
#section-1 .main-button a:hover {
  background-color: #22b3c1;
  border-color: #22b3c1;
  color: #fff;
  opacity: 0.8;
}
#section-1 .content-slider .slider .banner .banner-inner-wrapper {
  height: 100%;
  box-sizing: border-box;
}
#section-1 .content-slider .slider .banner .banner-inner-wrapper .main-caption {
  position: absolute;
  width: 100%;
  top: 60%;
  transform: translateY(-50%);
}
#section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
}
#section-1 .content-slider .slider .banner .banner-inner-wrapper h1 {
  font-size: 50px;
  font-family: cursive;
  color: #fff;
  font-weight: 700px;
  margin-bottom: 10px;
	-webkit-text-stroke: 1px #F8F8F8;
	text-shadow: 0px 3px 4px black;
}
#section-1 .content-slider .slider .banner .banner-inner-wrapper .learn-more-button a:hover {
  color: #22b3c1;
  border-color: #22b3c1;
  transition: 0.3s;
}
#section-1 .content-slider .slider #top-banner-1 {
  background: url('../images/John-Lennon2.jpg') no-repeat center center;
  background-size: cover;
  height: 700px;

}
#section-1 .content-slider .slider #top-banner-2 {
  background: url('../images/Paul_macca.jpg') no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 700px;
}
#section-1 .content-slider .slider #top-banner-3 {
  background: url('../images/GeorgeH.png') no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 700px;
}
#section-1 .content-slider .slider #top-banner-4 {
  background: url('../images/ringostarr.jpg') no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 700px;
}
#section-1 .content-slider nav {
  position: absolute;
  bottom: 30px;
  width: 100%;
  z-index: 10;
  text-align: center;
}
#section-1 .content-slider nav .controls {
  display: block;
  width: 70%;
  margin: 0 auto;
  font-family: Montserrat, sans-serif;
  color: #fff;
}
#section-1 .content-slider nav .controls label {
  position: relative;
  display: inline-block;
  width: 19.5%;
  height: 3.1em;
  overflow: hidden;
  margin: 0 1em;
  padding-top: 1em;
  text-align: left;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-size: 1em;
  color: #f6eac5;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s;
}
#section-1 .content-slider nav .controls label .progressbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #f6eac5;
  z-index: 100;
}
#section-1 .content-slider nav .controls label .progressbar .progressbar-fill {
  position: inherit;
  width: inherit;
  height: inherit;
  margin-left: -100%;
  background: #22b3c1;
}
#section-1 .content-slider nav .controls label span.text {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  width: 100%;
}
#section-1 .content-slider nav .controls label:hover {
  color: #22b3c1;
}
#section-1 .content-slider #banner1:checked ~ .slider #top-banner-1,
#section-1 .content-slider #banner2:checked ~ .slider #top-banner-2,
#section-1 .content-slider #banner3:checked ~ .slider #top-banner-3,
#section-1 .content-slider #banner4:checked ~ .slider #top-banner-4 {
  opacity: 1;
  z-index: 1;
}
#section-1 .content-slider #banner1:checked ~ nav label:nth-of-type(1),
#section-1 .content-slider #banner2:checked ~ nav label:nth-of-type(2),
#section-1 .content-slider #banner3:checked ~ nav label:nth-of-type(3),
#section-1 .content-slider #banner4:checked ~ nav label:nth-of-type(4) {
  cursor: default;
  color: #fff;
  transition: all 0.5s;
}
#section-1 .content-slider #banner1:checked ~ nav label:nth-of-type(1) .progressbar,
#section-1 .content-slider #banner2:checked ~ nav label:nth-of-type(2) .progressbar,
#section-1 .content-slider #banner3:checked ~ nav label:nth-of-type(3) .progressbar,
#section-1 .content-slider #banner4:checked ~ nav label:nth-of-type(4) .progressbar {
  background: #fff;
}
#section-1 .content-slider #banner1:checked ~ nav label:nth-of-type(1) .progressbar-fill,
#section-1 .content-slider #banner2:checked ~ nav label:nth-of-type(2) .progressbar-fill,
#section-1 .content-slider #banner3:checked ~ nav label:nth-of-type(3) .progressbar-fill,
#section-1 .content-slider #banner4:checked ~ nav label:nth-of-type(4) .progressbar-fill {
  animation: progressBarFill 5s linear;
}
/* Animations */
@keyframes progressBarFill {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0;
  }
}


/* 
---------------------------------------------
Footer Style
--------------------------------------------- 
*/

footer {
  background-color: #22b3c1;
  text-align: center;
  padding: 25px 0px;
}

footer p {
  color: #fff;
}

footer p a {
  color: #fff;
  font-weight: 500;
  transition: all .3s;
}

footer p a:hover {
  color: #fff;
  opacity: 0.75;
}



/* 
---------------------------------------------
Albums Page Style
--------------------------------------------- 
*/

.about-main-content {
  margin-top: 70px;
  background-image: url(../images/beatles-apple-corp.webp);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 130px 0px 200px 0px;
}

.blur-bg {
	width: 100%;
  height: 100%;
  background: url(../images/beatles-apple-corp.webp) no-repeat center center fixed;
  background-size: cover;
  filter: blur(8px) brightness(80%);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.about-main-content .content {
  border-radius: 23px;
  text-align: center;
  padding: 120px 60px;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.about-main-content .content h2 {
  color: #fff;
  position: relative;
  z-index: 2;
  font-size: 50px;
  margin-bottom: 25px;
}

.album-content-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 70px;
}

.album-content-container-lg{
  width: 400px;
}

.album-content-container-lg{
  padding-left: 20px;
  margin-top: 26px;
  margin-left: 26px;
  margin-bottom: 50px;
}

.text{
  text-align: center;
  margin-bottom: 12px;
}
.pre-title{
  font-style: normal;
  font-weight: 400;
  font-family: futura-pt,sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #579a18;
  text-transform: uppercase;
  margin-bottom: 10px;

}

.title{
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  color: white;
}
.name-link{
  color: white;
}

.title:hover{
  color: red;
  text-decoration: underline;
}

.name-link:hover{
  color: red;
  cursor: pointer;

}

@media (prefers-color-scheme: dark) {
  body:not(.light) {
    background: #232223;
    color: white;
  }
}


/* 
---------------------------------------------
Curiosidades Page Style
--------------------------------------------- 
*/

.page-heading {
  background-image: url(../images/the-beatles-curiosity.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 260px 0px 190px 0px;
  text-align: center;

}

.page-heading h2 {
  font-size: 50px;
  font-weight: 700;
  margin: 00px 150px 0px 150px;
  color: #fff;
  margin-bottom: 30px;
  line-height: 50px;
}

.MsoNormal{
  margin: 30px 70px 0px 250px;
  font-family: Garamond, serif;
  font-size: 30px;
  text-align: justify;

}

.separator{
  margin-bottom: 70px;
}

.text-mark{
  color: green;
}
.curiosity-content{
  margin-bottom: 200px;
}

.curiosity-content-span-list-paragraph{
  margin-block-start: 2em;
  margin-block-end: 2em;
  margin-inline-start: 70px;
  margin-inline-end: 70px;
  display: block;
  color: white;
  font-size: 18px;
}



/* 
---------------------------------------------
Reservation Page Style
--------------------------------------------- 
*/

.second-page-heading {
  background-image: url(../images/heading-bg-02.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 260px 0px 190px 0px;
  text-align: center;
}

.second-page-heading h4 {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 15px;
  position: relative;
  padding-bottom: 25px;
}

.second-page-heading h4::after {
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: rgba(250, 250, 250, 0.3);
  content: '';
  left: 50%;
  bottom: 0;
  transform: translateX(-50px);
}

.second-page-heading h2 {
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 30px;
}

.second-page-heading p {
  padding: 0px 15%;
  color: #fff;
  margin-bottom: 30px;
}

.second-page-heading .main-button a {
  border-color: #fff;
  color: #22b3c1;
  background-color: #fff;
}

.second-page-heading .main-button a:hover {
  border-color: #22b3c1;
  background-color: #22b3c1;
  color: #fff;
}

.reservation-info {
  margin-top: -99px;
}

.more-info {
  background-color: #fff;
  border-radius: 23px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
  text-align: center;
  padding: 30px;
}

.more-info i {
  background-color: #f0f0f0;
  width: 60px;
  height: 60px;
  display: inline-block;
  text-align: center;
  line-height: 60px;
  border-radius: 50px;
  color: #22b3c1;
  font-size: 20px;
  margin-bottom: 20px;
}

.more-info h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.more-info a {
  font-size: 15px;
  color: #22b3c1;
}

.reservation-form {
  margin: 120px 0px;
}

.reservation-form #map {
  margin-bottom: -6px;
}

.reservation-form #reservation-form h4 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
}

.reservation-form #reservation-form h4 em {
  font-style: normal;
  color: #22b3c1;
}

.reservation-form #reservation-form {
  padding: 60px 120px;
  background-color: #f9f9f9;
  border-bottom-right-radius: 23px;
  border-bottom-left-radius: 23px;
}

.reservation-form #reservation-form label {
  font-size: 15px;
  color: #afafaf;
}

.reservation-form #reservation-form input,
.reservation-form #reservation-form select {
  width: 100%;
  height: 46px;
  background-color: transparent;
  border-radius: 23px;
  border: 1px solid #e0e0e0;
  padding: 0px 20px;
  cursor: pointer;
  margin-bottom: 30px;
}

.reservation-form #reservation-form input.date {
  color: #aaa;
}

.reservation-form #reservation-form button {
  font-size: 14px;
  color: #fff;
  background-color: #22b3c1;
  border: 1px solid #22b3c1;
  padding: 12px 30px;
  width: 100%;
  text-align: center;
  display: inline-block;
  border-radius: 25px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
}

.reservation-form #reservation-form button:hover {
  opacity: 0.8;
}



/* 
---------------------------------------------
Responsive Style
--------------------------------------------- 
*/

body {
  overflow-x: hidden;
}

@media (max-width: 575px) {

}


@media (max-width: 767px) {
  #section-1 .content-slider .slider .banner .banner-inner-wrapper {
    padding-top: 120px;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {
    font-size: 15px;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper h1 {
    font-size: 36px;
  }
  #section-1 .more-info {
    padding: 30px;
    margin-top: 30px !important;
    border-radius: 23px;
    bottom: 110px;
    width: 95%;
    left: 2.5%;
  }
  #section-1 .more-info i {
    width: 36px;
    height: 36px;
    line-height: 34px;
    font-size: 18px;
    margin-right: 10px;
    margin-top: 8px;
  }
  .visit-country .right-content .main-button a {
    font-size: 14px;
    padding: 12px 15px;
  }
  .main-button a {
    text-align: center;
  }
  #section-1 .more-info h4 {
    font-size: 14px !important;
  }
  #section-1 .content-slider nav .controls label { 
    width: 7% !important;
  }
  .visit-country .right-content ul li {
    width: 30%;
  }
  .visit-country .right-content h4 {
    margin-top: 20px;
  }
}

@media (max-width: 992px) {
  #section-1 .more-info {
    margin-top: 60px;
  }
  #section-1 .more-info h4 span {
    font-size: 15px;
  }
  #section-1 .more-info h4 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  #section-1 .main-button {
    text-align: left;
  }
  #section-1 .content-slider nav .controls label {
    width: 15%;
  }
  .visit-country .right-content ul li {
    width: 30% !important;
  }
  .visit-country .right-content {
    position: relative;
  }
  
  .visit-country .side-bar-map {
    margin-left: 0px;
    margin-top: 60px;
  }
  h2,
  h4 {
    text-align: center;
  }

  .about-main-content .content p {
    padding: 0px 5%;
  }
  .container-fluid {
    padding: 0px;
  }
  .left-image {
    margin-right: 0px;
    margin-bottom: 60px;
  }
  .search-form #search-form h4 {
    margin-bottom: 15px;
  }
  .search-form #search-form select {
    margin-bottom: 30px;
  }
  .amazing-deals .image {
    border-top-right-radius: 23px;
    border-bottom-left-radius: 0px;
  }
  .amazing-deals {
    padding-right: 0px;
  }
  .amazing-deals .content {
    padding: 30px !important;
  }
  .more-info {
    margin-bottom: 30px;
  }
  .reservation-form #reservation-form {
    padding: 45px 30px;
  }
}

@media (max-width: 1200px) {
  #section-1 .more-info h4 span {
    font-size: 12px;
  }
  #section-1 .more-info h4 {
    font-size: 15px;
  }
  .container-fluid {
    padding: 0px;
  }
}